[package]
name = "drv-sidecar-front-io"
version = "0.1.0"
edition = "2021"

[dependencies]
drv-auxflash-api = {path = "../../drv/auxflash-api"}
drv-fpga-api = {path = "../../drv/fpga-api", features = ["auxflash"]}
vsc85xx = {path = "../../drv/vsc85xx", optional = true}
vsc7448-pac = {git = "https://github.com/oxidecomputer/vsc7448", optional = true}
ringbuf = {path = "../../lib/ringbuf"}
userlib = {path = "../../sys/userlib"}
num-traits = {version = "0.2.12", default-features = false}
zerocopy = "0.6.1"

[features]
controller = []
phy_smi = ["vsc85xx", "vsc7448-pac"]

[build-dependencies]
build-fpga-regmap = {path = "../../build/fpga-regmap"}
build-util = {path = "../../build/util"}
gnarle = {path = "../../lib/gnarle", features=["std"]}
