source [find interface/stlink.cfg]
source [find target/stm32h7x_dual_bank.cfg]

#
# Unfortunately, there exists a bug in OpenOCD's stm32h7x.cfg file whereby it
# will set reserved bits in the STM32H7 DBGMCU CR:
#
#   https://sourceforge.net/p/openocd/tickets/266/
#
# The documentation is clear that these must be preserved at their reset
# value (namely: zero) -- and setting them causes SWO to not function at all.
# Making what feels like the reasonable assumption that this bug will never
# actually be fixed by OpenOCD, we undo that damage here by zeroing out the
# reserved bits, preserving the values that the configuration was trying to
# set. Note that we can't actually do any of this without first calling "init"
# to force us into the run stage (and therefore allow for memory reading and
# writing).
#
init

#
# Now undo the damage done by clearing the five (?!) bits set.
#
echo "Info : Fixing DBGMCU CR to restore SWO"
stm32h7x_dbgmcu_mmw 0x004 0 0x000001B8
