[package]
name = "drv-lpc55-swd"
version = "0.1.0"
edition = "2021"

[dependencies]
cfg-if = { workspace = true }
cortex-m = { workspace = true }
idol-runtime = { workspace = true }
lpc55-pac = { workspace = true }
num-traits = { workspace = true }
zerocopy = { workspace = true }

drv-lpc55-gpio-api = { path = "../lpc55-gpio-api" }
drv-lpc55-spi = { path = "../lpc55-spi" }
drv-lpc55-syscon-api = { path = "../lpc55-syscon-api" }
drv-sp-ctrl-api = { path = "../sp-ctrl-api" }
ringbuf = { path = "../../lib/ringbuf" }
userlib = { path = "../../sys/userlib", features = ["panic-messages"] }

[build-dependencies]
build-lpc55pins = { path = "../../build/lpc55pins" }
build-util = { path = "../../build/util" }
anyhow = { workspace = true }
idol = { workspace = true }
quote = { workspace = true }
serde = { workspace = true }

# This section is here to discourage RLS/rust-analyzer from doing test builds,
# since test builds don't work for cross compilation.
[[bin]]
name = "drv-lpc55-swd"
test = false
bench = false
