[package]
name = "drv-lpc55-spi"
version = "0.1.0"
edition = "2021"

[dependencies]
lpc55-pac = { workspace = true }
num-traits = { workspace = true }
zerocopy = { workspace = true }

drv-lpc55-syscon-api = { path = "../lpc55-syscon-api" }
userlib = { path = "../../sys/userlib" }

[lib]
test = false
doctest = false
bench = false
