[package]
name = "drv-cpu-seq-api"
version = "0.1.0"
edition = "2021"

[dependencies]
idol-runtime = { workspace = true }
num-traits.workspace = true
zerocopy.workspace = true
zerocopy-derive.workspace = true

counters = { path = "../../lib/counters", features = ["derive"] }
derive-idol-err = { path = "../../lib/derive-idol-err"  }
drv-cpu-power-state = { path = "../cpu-power-state" }
userlib = { path = "../../sys/userlib" }

[build-dependencies]
idol.workspace = true

[lib]
test = false
doctest = false
bench = false

[lints]
workspace = true
