[package]
name = "drv-hf-api"
version = "0.1.0"
edition = "2021"

[dependencies]
crc.workspace = true
hubpack.workspace = true
idol-runtime.workspace = true
num-traits.workspace = true
serde.workspace = true
zerocopy.workspace = true
zerocopy-derive.workspace = true

counters = { path = "../../lib/counters" }
derive-idol-err = { path = "../../lib/derive-idol-err"  }
drv-hash-api = { path = "../hash-api" }
drv-qspi-api = { path = "../qspi-api" }
userlib = { path = "../../sys/userlib" }

[build-dependencies]
idol.workspace = true

[lib]
test = false
doctest = false
bench = false

[lints]
workspace = true
