[package]
name = "ksz8463"
version = "0.1.0"
edition = "2021"

[dependencies]
num-traits = { workspace = true }

drv-spi-api = {path = "../../drv/spi-api"}
ringbuf = {path = "../../lib/ringbuf" }
userlib = {path = "../../sys/userlib" }
idol-runtime = { workspace = true }


# This section is here to discourage RLS/rust-analyzer from doing test builds,
# since test builds don't work for cross compilation.
[lib]
test = false
doctest = false
bench = false
