[package]
name = "drv-fpga-api"
version = "0.1.0"
edition = "2021"

[features]
hiffy = []
auxflash = ["drv-auxflash-api", "tlvc", "sha3"]


[dependencies]
idol-runtime = { workspace = true }
num-traits = { workspace = true }
sha3 = { workspace = true, optional = true }
tlvc = { workspace = true, optional = true}
zerocopy = { workspace = true }
zerocopy-derive = { workspace = true }

counters = { path = "../../lib/counters" }
drv-auxflash-api = { path = "../../drv/auxflash-api", optional = true }
drv-spi-api = { path = "../../drv/spi-api" }
userlib = { path = "../../sys/userlib" }

[build-dependencies]
idol = { workspace = true }

[lib]
test = false
doctest = false
bench = false

[lints]
workspace = true
