[package]
name = "monorail-api"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
derive-idol-err = {path = "../../lib/derive-idol-err" }
userlib = {path = "../../sys/userlib"}
vsc7448 = {path = "../vsc7448"}

num-traits = {version = "0.2", default-features = false}
serde = { version = "1", features = ["derive"], default-features = false}
zerocopy = "0.6.1"

# This section is here to discourage RLS/rust-analyzer from doing test builds,
# since test builds don't work for cross compilation.
[lib]
test = false
bench = false
