name = "rot-carrier"
target = "thumbv8m.main-none-eabihf"
board = "rot-carrier-1"
chip = "../../chips/lpc55"
memory = "256k.toml"
stacksize = 1024
image-names = ["a", "b"]

[kernel]
name = "rot-carrier"
requires = {flash = 21504, ram = 4096}
features = ["itm"]

[tasks.jefe]
name = "task-jefe"
priority = 0
max-sizes = {flash = 8192, ram = 2048}
start = true
features = ["itm"]
stacksize = 1536

[tasks.idle]
name = "task-idle"
priority = 13
max-sizes = {flash = 128, ram = 256}
stacksize = 256
start = true

[tasks.update_server]
name = "lpc55-update-server"
priority = 6
max-sizes = {flash = 16384, ram = 4096}
stacksize = 2048
start = true
uses = ["rom", "secure_syscon", "syscon", "flash"]

[tasks.syscon_driver]
name = "drv-lpc55-syscon"
priority = 1
max-sizes = {flash = 8192, ram = 2048}
uses = ["syscon", "anactrl", "pmc"]
start = true
task-slots = ["jefe"]

[tasks.gpio_driver]
name = "drv-lpc55-gpio"
priority = 3
max-sizes = {flash = 8192, ram = 2048}
uses = ["gpio", "iocon"]
start = true
task-slots = ["syscon_driver"]

[tasks.user_leds]
name = "drv-user-leds"
features = ["lpc55"]
priority = 10
max-sizes = {flash = 8192, ram = 1024}
start = true
task-slots = ["gpio_driver"]

[tasks.usart_driver]
name = "drv-lpc55-usart"
priority = 8
max-sizes = {flash = 8192, ram = 2048}
uses = ["flexcomm0"]
start = true
interrupts = {"flexcomm0.irq" = 1}
task-slots = ["gpio_driver", "syscon_driver"]

[tasks.usart_driver.config]
pins = [
{ pin = { port = 0, pin = 29}, alt = 1},
{ pin = { port = 0, pin = 30}, alt = 1}
]

[tasks.rng_driver]
name = "drv-lpc55-rng"
priority = 7
max-sizes = {flash = 16384, ram = 4096}
uses = ["rng", "pmc"]
start = true
stacksize = 2200
task-slots = ["syscon_driver"]

[tasks.sprot]
name = "drv-lpc55-sprot-server"
priority = 4
max-sizes = {flash = 32768, ram = 32768}
features = ["spi0"]
uses = ["flexcomm3", "flexcomm8", "bootrom"]
start = true
interrupts = {"flexcomm8.hs_spi" = 1}
stacksize = 16384
task-slots = ["gpio_driver", "syscon_driver"]

# There are external pullups on all of these signals.
[tasks.sprot.config]
pins = [
# HS_SPI_MOSI = P0_26 = FUN9
{ pin = { port = 0, pin = 26}, alt = 9, mode = "NoPull"},
# HS_SPI_MISO = P1_3 = FUN6
{ pin = { port = 1, pin = 3}, alt = 6, mode = "NoPull"},
# HS_SPI_SCK = P1_2 = FUN6
{ pin = { port = 1, pin = 2}, alt = 6, mode = "NoPull"},
# HS_SSEL1 = P1_1 = FUN5
{ pin = { port = 1, pin = 1}, alt = 5, mode = "NoPull"},
# ROT_IRQ = P0_18 = FUN0
{ name = "ROT_IRQ", pin = { port = 0, pin = 18}, alt = 0, mode = "NoPull", direction = "output"},
# SP_RESET = P0_9 = FUN0
{ name = "SP_RESET", pin = { port = 0, pin = 9}, alt = 0, mode = "NoPull", direction = "input"},
]

[tasks.swd]
name = "drv-lpc55-swd"
priority = 5
max-sizes = {flash = 16384, ram = 4096}
uses = ["flexcomm3", "iocon"]
start = true
stacksize = 1000
task-slots = ["gpio_driver", "syscon_driver"]
interrupts = {"flexcomm3.irq" = 1}

[tasks.swd.config]
# MOSI = PIO0_3
# MISO = PIO0_2

# Out = MOSI on, MISO off
out_cfg = [
{ pin = { port = 0, pin = 3 }, alt = 1 },
{ pin = { port = 0, pin = 2 }, alt = 0, mode = "PullDown" },
]
# In = MISO on, MOSI off
in_cfg = [
{ pin = { port = 0, pin = 2 }, alt = 1 },
{ pin = { port = 0, pin = 3 }, alt = 0, mode = "PullDown" },
]
pins = [
# SCK
{ pin =  { port = 0, pin = 6 }, alt = 1 },
# CS, not strictly necessary but handy for debugging
# { pin = {port = 0, pin = 20}, alt =  1},
]
spi_num = 3

[tasks.hiffy]
name = "task-hiffy"
priority = 9
features = ["lpc55", "gpio", "spi", "spctrl", "update"]
max-sizes = {flash = 32768, ram = 16384 }
stacksize = 2048
start = true
task-slots = ["gpio_driver", "swd", "update_server"]

[tasks.sp_measure]
name = "task-sp-measure"
priority = 6
max-sizes = {flash = 131072, ram = 8192}
task-slots = ["swd"]
stacksize = 2048

[tasks.sp_measure.config]
binary_path = "../../target/gemini-bu/dist/final.bin"

[extratext.rom]
address = 0x13000000
size = 0x20000


