[package]
name = "vsc85xx"
version = "0.1.0"
edition = "2021"

[dependencies]
vsc7448-pac = { workspace = true }
zerocopy = { workspace = true }
zerocopy-derive = { workspace = true }

ringbuf = { path = "../../lib/ringbuf" }
userlib = { path = "../../sys/userlib" }
vsc-err = { path = "../vsc-err" }

# This section is here to discourage RLS/rust-analyzer from doing test builds,
# since test builds don't work for cross compilation.
[lib]
test = false
doctest = false
bench = false

[lints]
workspace = true
