[package]
name = "vsc85xx"
version = "0.1.0"
edition = "2018"

[dependencies]
userlib = {path = "../../sys/userlib" }
ringbuf = {path = "../../lib/ringbuf" }
vsc7448-pac = { git = "https://github.com/oxidecomputer/vsc7448" }
vsc-err = { path = "../vsc-err" }

# This section is here to discourage RLS/rust-analyzer from doing test builds,
# since test builds don't work for cross compilation.
[lib]
test = false
bench = false
