[package]
name = "drv-lpc55-usart"
version = "0.1.0"
authors = ["Laura Abbott <laura@oxide.computer>"]
edition = "2018"

[dependencies]
userlib = {path = "../../userlib"}
zerocopy = "0.3.0"
lpc55-pac = "0.3.0"
cortex-m-semihosting = "0.3.5"
drv-lpc55-gpio-api = {path = "../lpc55-gpio-api"}

[features]
default = ["standalone"]
standalone = []

# a target for `cargo xtask check`
[package.metadata.build]
target = "thumbv8m.main-none-eabihf"

# This section is here to discourage RLS/rust-analyzer from doing test builds,
# since test builds don't work for cross compilation.
[[bin]]
name = "drv-lpc55-usart"
test = false
bench = false
