# Configuration fragment for -dev images

[tasks.jefe.config.allowed-callers]
request_reset = ["udprpc"]

[tasks.udprpc]
bin-crate = "task-udprpc"
priority = 5
max-sizes = {flash = 32768, ram = 8192}
stacksize = 4096
start = true
task-slots = ["net"]
features = ["vlan"]
notifications = ["socket"]

[config.net.sockets.rpc]
kind = "udp"
owner = {name = "udprpc", notification = "socket"}
port = 998
tx = { packets = 3, bytes = 1024 }
rx = { packets = 3, bytes = 1024 }
