[submodule "lpc55_support"]
	path = support/lpc55
	url = https://github.com/oxidecomputer/lpc55_support
[submodule "pmbus"]
	path = lib/pmbus
	url = https://github.com/oxidecomputer/pmbus
[submodule "hif"]
	path = lib/hif
	url = https://github.com/oxidecomputer/hif
[submodule "spd"]
	path = lib/spd
	url = https://github.com/oxidecomputer/spd
