cargo-features = ["resolver", "named-profiles"]

[workspace]
members = [
    "build/*",
    "sys/*",
    "lib/*",
    "app/*",
    "task/*",
    "drv/*",
    "test/*",

    "stage0",
]
default-members = []
resolver = "2"

[profile.release]
codegen-units = 1 # better optimizations
debug = 2 # symbols are nice and they don't increase the size on Flash
lto = true # better optimizations
opt-level = "z" # smaller optimizations

[profile.dev]
opt-level = 1 # no optimizations was just too painful in terms of flash size

[patch."https://github.com/oxidecomputer/hubris".userlib]
path = "sys/userlib"

[patch."https://github.com/oxidecomputer/hubris".abi]
path = "sys/abi"

