cargo-features = ["resolver"]

[workspace]
members = [
    "build-util",
    "xtask",
    "membar",

    "abi",
    "demo",
    "demo-stm32h7",
    "gemini-bu",
    "gemini-bu-rot",
    "gimlet",
    "gimlet-rot",
    "gimletlet",
    "lpc55",
    "kern",
    "ringbuf",
    "userlib",
    "sidecar",
    "stage0",
    "hypocalls",
    "lpc55_romapi",

    "task-template",

    "task-jefe",
    "task-ping",
    "task-pong",
    "task-idle",
    "task-hiffy",
    "task-power",
    "task-spam2",
    "task-spd",
    "task-thermal",

    "drv/stm32fx-rcc",
    "drv/stm32fx-usart",

    "drv/stm32h7-gpio",
    "drv/stm32h7-gpio-api",
    "drv/stm32h7-rcc",
    "drv/stm32h7-rcc-api",
    "drv/stm32h7-spi",
    "drv/stm32h7-spi-server",
    "drv/stm32h7-usart",
    "drv/stm32h7-i2c-server",
    "drv/stm32h7-qspi",

    "drv/lpc55-syscon",
    "drv/lpc55-syscon-api",
    "drv/lpc55-iocon-gen",
    "drv/lpc55-gpio",
    "drv/lpc55-gpio-api",
    "drv/lpc55-usart",
    "drv/lpc55-i2c",
    "drv/lpc55-spi",
    "drv/lpc55-spi-server",
    "drv/lpc55-rng",

    "drv/user-leds",
    "drv/user-leds-api",
    "drv/ice40-spi-program",
    "drv/gimlet-seq-server",
    "drv/gimlet-hf-server",
    "drv/gimlet-hf-api",

    "test/tests-gemini-bu",
    "test/tests-gemini-bu-rot",
    "test/tests-stm32fx",
    "test/tests-stm32h7",
    "test/tests-lpc55",
    "test/test-runner",
    "test/test-assist",
    "test/test-suite",
]
default-members = []
resolver = "2"

[profile.release]
codegen-units = 1 # better optimizations
debug = 2 # symbols are nice and they don't increase the size on Flash
lto = true # better optimizations
opt-level = "z" # smaller optimizations

[profile.dev]
opt-level = 1 # no optimizations was just too painful in terms of flash size
