cargo-features = ["resolver"]

[workspace]
members = [
    "build-util",
    "xtask",
    "membar",

    "abi",
    "demo",
    "demo-stm32h7",
    "gemini-bu",
    "lpc55",
    "kern",
    "userlib",

    "task-template",

    "task-jefe",
    "task-ping",
    "task-pong",
    "task-idle",
    "task-i2c",
    "task-spam2",
    "task-spi",
    "task-adt7420",

    "drv/stm32f4-rcc",
    "drv/stm32f4-usart",

    "drv/stm32h7-gpio",
    "drv/stm32h7-gpio-api",
    "drv/stm32h7-rcc",
    "drv/stm32h7-rcc-api",
    "drv/stm32h7-usart",
    "drv/stm32h7-i2c-server",
    "drv/stm32h7-i2c-target-server",

    "drv/lpc55-syscon",
    "drv/lpc55-syscon-api",
    "drv/lpc55-gpio",
    "drv/lpc55-usart",
    "drv/lpc55-i2c",
    "drv/lpc55-spi",
    "drv/lpc55-rng",

    "drv/user-leds",
    "drv/user-leds-api",

    "test/tests-gemini-bu",
    "test/tests-stm32f4",
    "test/tests-stm32h7",
    "test/tests-lpc55",
    "test/test-runner",
    "test/test-assist",
    "test/test-suite",
]
default-members = []
resolver = "2"

[profile.release]
codegen-units = 1 # better optimizations
debug = true # symbols are nice and they don't increase the size on Flash
lto = true # better optimizations
opt-level = "z" # smaller optimizations

[profile.dev]
opt-level = 1 # no optimizations was just too painful in terms of flash size
