# Everything in the Oxide RoT v1 startup code path before Platform Identity
# private key is secured needs to be reviewed by folks authorized to
# production-release sign these images.
/app/oxide-rot-1/           @cbiffle @flihp @labbott
/build/util/                @cbiffle @flihp @labbott
/lib/armv8-m-mpu/           @cbiffle @flihp @labbott
/lib/dice/                  @cbiffle @flihp @labbott
/lib/lpc55-puf/             @cbiffle @flihp @labbott
/lib/lpc55-romapi/          @cbiffle @flihp @labbott
/lib/lpc55-rot-startup/     @cbiffle @flihp @labbott
/lib/lpc55-usart/           @cbiffle @flihp @labbott
/lib/stage0-handoff/        @cbiffle @flihp @labbott
/lib/unwrap-lite/           @cbiffle @flihp @labbott
