# Flash sections are mapped into flash bank 1 (of 2).
[[flash]]
address = 0x08000000
size = 1048576
read = true
execute = true

# RAM sections are currently mapped into DTCM, a small but fast SRAM.
[[ram]]
address = 0x20000000
size = 131072
read = true
write = true
execute = false  # let's assume XN until proven otherwise

# Network buffers are placed in sram1, which is directly accessible by the
# Ethernet MAC.
[[sram1]]
address = 0x30000000
size = 0x20000
read = true
write = true
dma = true

[[sram2]]
address = 0x30020000
size = 0x20000
read = true
write = true
execute = false
dma = true

[[sram3]]
address = 0x30040000
size = 0x8000
read = true
write = true
execute = false
dma = true

[[sram4]]
address = 0x38000000
size = 0x10000
read = true
write = true
execute = false
dma = true

[[bank2]]
address = 0x08100000
size = 0x100000
read = true
write = true
execute = false
dma = true
