# Flash sections are mapped into flash bank 1 (of 2).
[[flash]]
address = 0x08000000
size = 1048576
read = true
execute = true

# This maps RAM into AXI SRAM, a 512 kiB bank. This is turned on by default by
# the stm32h7 startup code.
[[ram]]
address = 0x24000000
size = 524288
read = true
write = true
execute = false  # let's assume XN until proven otherwise

# We use DTCM for a handoff region
[[handoff]]
address = 0x20000000
size = 131072
read = true
write = true
execute = false

# Network buffers are placed in sram1, which is directly accessible by the
# Ethernet MAC.  We limit this use of sram1 to 64 KiB, and preserve the
# remainder to be used for disjoint purposes (e.g., as an external region).
[[sram1_mac]]
address = 0x30000000
size = 0x10000
read = true
write = true
dma = true

[[sram1]]
address = 0x30010000
size = 0x10000
read = true
write = true
execute = false
dma = true

[[sram2]]
address = 0x30020000
size = 0x20000
read = true
write = true
execute = false
dma = true

[[sram3]]
address = 0x30040000
size = 0x8000
read = true
write = true
execute = false
dma = true

[[sram4]]
address = 0x38000000
size = 0x10000
read = true
write = true
execute = false
dma = true

# This is the second bank of flash
[[bank2]]
address = 0x08100000
size = 0x100000
read = true
write = true
execute = false
dma = true
