[package]
name = "task-ping"
version = "0.1.0"
edition = "2021"

[dependencies]
cortex-m = { workspace = true }
userlib = { path = "../../sys/userlib", features = ["panic-messages"] }
drv-user-leds-api = { path = "../../drv/user-leds-api" }

[build-dependencies]
build-util = { path = "../../build/util" }
idol.workspace = true

[features]
uart = []
no-ipc-counters = ["idol/no-counters"]

[[bin]]
name = "task-ping"
test = false
doctest = false
bench = false

[lints]
workspace = true
