[package]
name = "task-ping"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
cortex-m = {version = "0.7", features = ["inline-asm"]}
userlib = {path = "../../sys/userlib", features = ["panic-messages"]}
drv-user-leds-api = {path = "../../drv/user-leds-api"}

[build-dependencies]
build-util = {path = "../../build/util"}

[features]
uart = []

[[bin]]
name = "task-ping"
test = false
bench = false
