[package]
name = "task-udprpc"
version = "0.1.0"
edition = "2021"

[dependencies]
zerocopy = { workspace = true }
zerocopy-derive = { workspace = true }

task-net-api = { path = "../net-api" }
userlib = { path = "../../sys/userlib", features = ["panic-messages"] }

[build-dependencies]
build-util = { path = "../../build/util" }
idol.workspace = true

[features]
vlan = ["task-net-api/vlan"]
no-ipc-counters = ["idol/no-counters"]

# This section is here to discourage RLS/rust-analyzer from doing test builds,
# since test builds don't work for cross compilation.
[[bin]]
name = "task-udprpc"
test = false
doctest = false
bench = false

[lints]
workspace = true
