[package]
name = "drv-onewire-devices"
version = "0.1.0"
edition = "2018"

[dependencies]
userlib = {path = "../../sys/userlib", default-features = false}
zerocopy = "0.3.0"
num-traits = { version = "0.2.12", default-features = false }
drv-onewire = {path = "../onewire"}

# a target for `cargo xtask check`
[package.metadata.build]
target = "thumbv7em-none-eabihf"

# This section is here to discourage RLS/rust-analyzer from doing test builds,
# since test builds don't work for cross compilation.
[lib]
test = false
bench = false
