[package]
name = "task-sp-measure"
version = "0.1.0"
edition = "2021"

[dependencies]
sha3 = { workspace = true }

drv-sp-ctrl-api = { path = "../../drv/sp-ctrl-api" }
attest-api = { path = "../../task/attest-api" }
ringbuf = { path = "../../lib/ringbuf" }
userlib = { path = "../../sys/userlib", features = ["panic-messages"] }
zerocopy = { workspace = true }

[build-dependencies]
anyhow = { workspace = true }
idol = { workspace = true }
quote = { workspace = true }
serde = { workspace = true }
sha3 = { workspace = true }

build-util = { path = "../../build/util" }

# This section is here to discourage RLS/rust-analyzer from doing test builds,
# since test builds don't work for cross compilation.
[[bin]]
name = "task-sp-measure"
test = false
doctest = false
bench = false
