name = "gimletlet-meanwell"
inherit = "base-gimletlet2.toml"

[tasks.hiffy]
features = ["h753", "stm32h7", "gpio"]
task-slots = ["sys", "user_leds"]

[tasks.jefe.config.allowed-callers]
request_reset = ["hiffy"]

[tasks.meanwell]
name = "drv-meanwell"
features = ["stm32h7"]
priority = 6
max-sizes = {flash = 2048, ram = 1024}
start = true
task-slots = ["sys", "user_leds"]
notifications = ["timer"]
