name = "gimletlet-mgmt"
target = "thumbv7em-none-eabihf"
board = "gimletlet-1"
chip = "../../chips/stm32h7"
stacksize = 1024
fwid = true

[kernel]
name = "gimletlet"
requires = {flash = 32768, ram = 4096}

[tasks.jefe]
bin-crate = "task-jefe"
priority = 0
max-sizes = {flash = 8192, ram = 4096}
start = true
stacksize = 2200
notifications = ["fault", "timer"]

[tasks.jefe.config.allowed-callers]
set_reset_reason = ["sys"]
request_reset = ["hiffy"]

[tasks.sys]
bin-crate = "drv-stm32xx-sys"
features = ["h753"]
priority = 1
max-sizes = {flash = 2048, ram = 2048}
uses = ["rcc", "gpios", "system_flash"]
start = true
task-slots = ["jefe"]

[tasks.user_leds]
bin-crate = "drv-user-leds"
features = ["stm32h7"]
priority = 2
start = true
task-slots = ["sys"]
notifications = ["timer"]

[tasks.hiffy]
bin-crate = "task-hiffy"
features = ["h753", "stm32h7", "gpio", "spi"]
priority = 3
max-sizes = {flash = 32768, ram = 65536 }
stacksize = 2048
start = true
task-slots = ["sys", "user_leds"]

[tasks.net]
bin-crate = "task-net"
stacksize = 3328
priority = 3
features = ["mgmt", "h753", "use-spi-core", "spi2"]
max-sizes = {flash = 131072, ram = 16384, sram1_mac = 16384}
sections = {eth_bulk = "sram1_mac"}
uses = ["eth", "tim16", "spi2"]
start = true
notifications = ["eth-irq", "mdio-timer-irq", "spi-irq", "wake-timer"]
task-slots = ["sys", "user_leds", "jefe"]

[tasks.net.interrupts]
"eth.irq" = "eth-irq"
"tim16.irq" = "mdio-timer-irq"
"spi2.irq" = "spi-irq"

[tasks.udpecho]
bin-crate = "task-udpecho"
priority = 4
max-sizes = {flash = 16384, ram = 8192}
stacksize = 4096
start = true
task-slots = ["net"]
notifications = ["socket"]

[tasks.idle]
bin-crate = "task-idle"
priority = 5
max-sizes = {flash = 128, ram = 256}
stacksize = 256
start = true

[config.spi.spi2]
controller = 2

[config.spi.spi2.mux_options.port_i]
outputs = [
    {port = "I", pins = [1, 3], af = 5},
]
input = {port = "I", pin = 2, af = 5}

[config.spi.spi2.devices.ksz8463]
mux = "port_i"
cs = [{port = "I", pin = 0}]

[config.net]
# UDP ports in sockets below are assigned in oxidecomputer/oana

[config.net.sockets.echo]
kind = "udp"
owner = {name = "udpecho", notification = "socket"}
port = 7
tx = { packets = 3, bytes = 1024 }
rx = { packets = 3, bytes = 1024 }
