app-name "gimletlet"
target "thumbv7em-none-eabihf"
board "gimletlet-2"
chip "../../chips/stm32h7"
stack-size 896
kernel {
    crate-name "gimletlet"
    requires flash=32768 ram=8192
    features "itm"
}
output "flash" {
    address 0x8000000
    size 0x100000
    read
    execute
}
output "ram" {
    address 0x20000000
    size 0x20000
    read
    write
}
output "sram1" {
    address 0x30000000
    size 0x20000
    read
    write
    dma
}

task "jefe" {
    crate-name "task-jefe"
    priority 0
    max-sizes flash=8192 ram=2048
    start
    features "itm"
    stack-size 1536
}

task "sys" {
    crate-name "drv-stm32xx-sys"
    features "h753"
    priority 1
    max-sizes flash=2048 ram=1024
    uses "rcc" "gpios1" "gpios2" "gpios3"
    start
}

task "i2c_driver" {
    crate-name "drv-stm32h7-i2c-server"
    features "h753" "itm"
    priority 2
    max-sizes flash=16384 ram=2048
    uses "i2c2" "i2c3" "i2c4"
    start
    task-slots "sys"
    interrupts i2c2.event=0b10 i2c2.error=0b10 i2c3.event=0b100 i2c3.error=0b100 i2c4.event=0b1000 i2c4.error=0b1000
}

task "spi_driver" {
    crate-name "drv-stm32h7-spi-server"
    priority 2
    max-sizes flash=16384 ram=2048
    features "spi4" "h753"
    uses "spi4"
    start
    interrupts spi4.irq=0b1
    stack-size 880
    task-slots "sys"
    config {
        spi {
            global-config "spi4"
        }
    }
}

task "user_leds" {
    crate-name "drv-user-leds"
    features "stm32h7"
    priority 2
    max-sizes flash=2048 ram=1024
    start
    task-slots "sys"
}

task "pong" {
    crate-name "task-pong"
    priority 3
    max-sizes flash=1024 ram=1024
    start
    task-slots "user_leds"
}

task "uartecho" {
    crate-name "task-uartecho"
    features "stm32h753" "usart2"
    uses "usart2"
    interrupts usart2.irq=0b1
    priority 3
    max-sizes flash=8192 ram=4096
    stack-size 2048
    start
    task-slots "sys"
}

task "hiffy" {
    crate-name "task-hiffy"
    features "h753" "stm32h7" "itm" "i2c" "gpio" "spi" "qspi" "rng" "update"
    priority 4
    max-sizes flash=32768 ram=32768
    stack-size 2048
    start
    task-slots "hf" "sys" "i2c_driver" "user_leds" "rng_driver" "update_server"
}

task "hf" {
    crate-name "drv-gimlet-hf-server"
    features "h753"
    priority 3
    max-sizes flash=16384 ram=2048
    stack-size 1920
    start
    uses "quadspi"
    interrupts quadspi.irq=0b1
    task-slots "sys"
}

task "net" {
    crate-name "task-net"
    stack-size 4320
    priority 3
    features "h753" "h7-vlan" "gimletlet-nic"
    max-sizes flash=65536 ram=16384 sram1=16384
    sections eth_bulk="sram1"
    uses "eth" "eth_dma" "system_flash"
    start
    interrupts eth.irq=0b1
    task-slots "sys" "spi_driver"
}

task "udpecho" {
    crate-name "task-udpecho"
    priority 4
    max-sizes flash=8192 ram=8192
    stack-size 4096
    start
    task-slots "net"
    features "vlan"
}

task "validate" {
    crate-name "task-validate"
    priority 3
    max-sizes flash=32768 ram=4096
    stack-size 1024
    start
    task-slots "i2c_driver"
}

task "idle" {
    crate-name "task-idle"
    priority 5
    max-sizes flash=128 ram=256
    stack-size 256
    start
}

task "rng_driver" {
    features "h753"
    crate-name "drv-stm32h7-rng"
    priority 3
    max-sizes flash=8192 ram=512
    uses "rng"
    start
    stack-size 256
    task-slots "sys" "user_leds"
}

task "update_server" {
    crate-name "stm32h7-update-server"
    priority 3
    max-sizes flash=8192 ram=4096
    stack-size 2048
    start
    uses "flash_controller" "bank2"
}
config {
    i2c {
        controller 2 {
            port "F" {
                pins 0 1 af=4
            }
        }
        controller 3 {
            port "C" {
                pins port="A" 8 af=4
                pins port="C" 9 af=4
            }
        }
        controller 4 {
            port "F" {
                pins 14 15 af=4
            }
        }
    }
    spi {
        controller "spi3" 3 {
            mux-option "port_c" {
                output "c" 10 12 af=6
                input "c" 11 af=6
            }
            device "spi3_header" {
                mux "port_c"
                cs "a" 15
            }
        }
        controller "spi4" 4 {
            mux-option "port_e" {
                output "e" 12 14 af=5
                input "e" 13 af=5
            }
            device "spi4_header" {
                mux "port_e"
                cs "e" 11
            }
        }
    }
    net {
        vlan start=0x301 count=2
        socket "echo" {
            kind "udp"
            owner "udpecho" mask=0b1
            port 7
            tx packets=3 bytes=1024
            rx packets=3 bytes=1024
        }
    }
}

