name = "gimletlet"
target = "thumbv7em-none-eabihf"
board = "gimletlet-2"
stacksize = 1024

[kernel]
path = "."
name = "gimletlet"
requires = {flash = 32768, ram = 4096}
#
# For the kernel (and for any task that logs), we are required to enable
# either "itm" (denoting logging/panicking via ARM's Instrumentation Trace
# Macrocell) or "semihosting" (denoting logging/panicking via ARM
# semihosting).  We are biased to ITM because semihosting is excruciatingly
# slow (it is breakpoint based) and has an undesirable failure mode if logging
# output is generated and debugger is not attached (namely, the target stops).
# If one does choose to change this to semihosting for purposes of
# development, be sure to also change it in every task of interest.
#
features = ["itm"]

[supervisor]
notification = 1

# Flash sections are mapped into flash bank 1 (of 2).
[outputs.flash]
address = 0x08000000
size = 1048576
read = true
execute = true

# RAM sections are currently mapped into DTCM, a small but fast SRAM.
[outputs.ram]
address = 0x20000000
size = 131072
read = true
write = true
execute = false  # let's assume XN until proven otherwise

[tasks.jefe]
path = "../../task/jefe"
name = "task-jefe"
priority = 0
requires = {flash = 16384, ram = 2048}
start = true
features = ["itm"]
stacksize = 1536

[tasks.rcc_driver]
path = "../../drv/stm32h7-rcc"
name = "drv-stm32h7-rcc"
features = ["h753"]
priority = 1
requires = {flash = 8192, ram = 1024}
uses = ["rcc"]
start = true

[tasks.gpio_driver]
path = "../../drv/stm32h7-gpio"
name = "drv-stm32h7-gpio"
features = ["h753"]
priority = 2
requires = {flash = 8192, ram = 1024}
uses = ["gpios1", "gpios2", "gpios3"]
start = true
task-slots = ["rcc_driver"]

[tasks.usart_driver]
path = "../../drv/stm32h7-usart"
name = "drv-stm32h7-usart"
features = ["h753"]
priority = 2
requires = { flash = 8192, ram = 1024}
uses = ["usart3"]
start = true
interrupts = {39 = 1}
task-slots = ["gpio_driver", "rcc_driver"]

[tasks.i2c_driver]
path = "../../drv/stm32h7-i2c-server"
name = "drv-stm32h7-i2c-server"
features = ["h753", "itm", "target-enable"]
priority = 2
requires = {flash = 16384, ram = 2048}
uses = ["i2c3", "i2c4"]
start = true
task-slots = ["gpio_driver", "rcc_driver"]

[tasks.i2c_driver.interrupts]
72 = 0b0000_0100        # I2C3 event
73 = 0b0000_0100        # I2C3 error
95 = 0b0000_1000        # I2C4 event
96 = 0b0000_1000        # I2C4 error

[tasks.spd]
path = "../../task/spd"
name = "task-spd"
features = ["h753", "itm"]
priority = 2
requires = {flash = 16384, ram = 16384}
uses = ["i2c2"]
start = true
task-slots = ["gpio_driver", "rcc_driver", "i2c_driver"]

[tasks.spd.interrupts]
33 = 0b0000_0010        # I2C2 event
34 = 0b0000_0010        # I2C2 error

#
# SPI interrupts:
#   spi1 = 35
#   spi2 = 36
#   spi3 = 51
#   spi4 = 84
#   spi5 = 85
#   spi6 = 86
#
[tasks.spi_driver]
path = "../../drv/stm32h7-spi-server"
name = "drv-stm32h7-spi-server"
priority = 2
requires = {flash = 16384, ram = 4096}
features = ["spi4", "h753"]
uses = ["spi4"]
start = true
interrupts = {84 = 1}
stacksize = 1000
task-slots = ["gpio_driver", "rcc_driver"]

[tasks.user_leds]
path = "../../drv/user-leds"
name = "drv-user-leds"
features = ["stm32h7"]
priority = 2
requires = {flash = 8192, ram = 1024}
start = true
task-slots = ["gpio_driver"]

[tasks.pong]
path = "../../task/pong"
name = "task-pong"
priority = 3
requires = {flash = 8192, ram = 1024}
start = true
task-slots = ["user_leds"]

[tasks.hiffy]
path = "../../task/hiffy"
name = "task-hiffy"
features = ["h753", "stm32h7", "itm", "i2c", "gpio", "spi", "qspi"]
priority = 3
requires = {flash = 32768, ram = 32768 }
stacksize = 2048
start = true
task-slots = ["hf", "gpio_driver", "i2c_driver", "user_leds"]

[tasks.gimlet_seq]
path = "../../drv/gimlet-seq-server"
name = "drv-gimlet-seq-server"
features = ["h753"]
priority = 3
requires = {flash = 32768, ram = 1024 }
stacksize = 1024
start = true
task-slots = ["gpio_driver", "spi_driver"]

[tasks.hf]
path = "../../drv/gimlet-hf-server"
name = "drv-gimlet-hf-server"
features = ["h753"]
priority = 3
requires = {flash = 16384, ram = 2048 }
stacksize = 2048
start = true
uses = ["quadspi"]
interrupts = {92 = 1}
task-slots = ["gpio_driver", "rcc_driver"]

[tasks.idle]
path = "../../task/idle"
name = "task-idle"
priority = 5
requires = {flash = 256, ram = 256}
stacksize = 256
start = true

[peripherals.rcc]
address = 0x58024400
size = 1024

[peripherals.gpios1]
address = 0x58020000
size = 0x2000

[peripherals.gpios2]
address = 0x58022000
size = 0x0800

[peripherals.gpios3]
address = 0x58022800
size = 0x0400

[peripherals.spi1]
address = 0x40013000
size = 1024

[peripherals.spi2]
address = 0x40003800
size = 1024

[peripherals.spi3]
address = 0x40003c00
size = 1024

[peripherals.spi4]
address = 0x40013400
size = 1024

[peripherals.spi5]
address = 0x40015000
size = 1024

[peripherals.spi6]
address = 0x58001400
size = 1024

[peripherals.usart3]
address = 0x40004800
size = 1024

[peripherals.i2c1]
address = 0x40005400
size = 1024

[peripherals.i2c2]
address = 0x40005800
size = 1024

[peripherals.i2c3]
address = 0x40005c00
size = 1024

[peripherals.i2c4]
address = 0x58001c00
size = 1024

[peripherals.quadspi]
address = 0x52005000
size = 4096

[config]
[[config.i2c.controllers]]
controller = 2
target = true

[[config.i2c.controllers.ports.F.pins]]
pins = [ 0, 1 ]
af = 4

[[config.i2c.controllers]]
controller = 3

#
# Note that I2C3 on Gimletlet is a bit unusual in that its SCL and SDA are on
# two different ports (port A and port C, respectively); we therefore have two
# pin structures for I2C3, but for purposes of the abstraction that i2c
# exports to consumers, we adhere to the convention outlined in the
# definition of `PortIndex` and name the logical port C after the GPIO pin that
# corresponds to SDA.
#
[[config.i2c.controllers.ports.C.pins]]
gpio_port = "A"
pins = [ 8 ]
af = 4

[[config.i2c.controllers.ports.C.pins]]
gpio_port = "C"
pins = [ 9 ]
af = 4

[[config.i2c.controllers]]
controller = 4

[[config.i2c.controllers.ports.F.pins]]
pins = [ 14, 15 ]
af = 4
