name = "gimletlet"
inherit = "base-gimletlet2.toml"

[kernel]
features = ["dump"]

[caboose]
tasks = ["packrat"]

[tasks.hiffy]
features = ["h753", "stm32h7", "i2c", "gpio", "qspi", "hash", "sprot"]
task-slots = ["hash_driver", "hf", "i2c_driver", "sprot", "sys", "update_server", "user_leds"]

[tasks.jefe]
stacksize = 2296
features = ["dump", "fault-counters"]
extern-regions = ["sram1", "sram2", "sram3", "sram4"]

[tasks.jefe.config.allowed-callers]
set_state = ["gimlet_seq"]
request_reset = ["hiffy", "control_plane_agent", "udprpc"]

[tasks.jefe.config.on-state-change]
host_sp_comms = "jefe-state-change"

[tasks.jefe.config.on-task-fault]
packrat = "task-faulted"

[tasks.sys]
# Enable EXTI in the sys task so that we can notify sprot when the RoT
# raises an IRQ.
features = ["exti"]
notifications = ["exti-wildcard-irq"]
uses = ["syscfg", "exti"]

[tasks.sys.interrupts]
"exti.exti0" = "exti-wildcard-irq"
"exti.exti1" = "exti-wildcard-irq"
"exti.exti2" = "exti-wildcard-irq"
"exti.exti3" = "exti-wildcard-irq"
"exti.exti4" = "exti-wildcard-irq"
"exti.exti9_5" = "exti-wildcard-irq"
"exti.exti15_10" = "exti-wildcard-irq"

[tasks.sys.config.gpio-irqs.rot_irq]
port = "D"
pin = 0
owner = {name = "sprot", notification = "rot_irq"}

[tasks.packrat]
name = "task-packrat"
priority = 1
start = true
task-slots = ["jefe"]
stacksize = 1336
features = ["ereport"]
notifications = ["task-faulted"]

[tasks.control_plane_agent]
name = "task-control-plane-agent"
priority = 7
stacksize = 6256
start = true
uses = ["usart1"]
task-slots = [
    "jefe",
    "net",
    "dump_agent",
    "update_server",
    "sys",
    "hf",
    { cpu_seq = "gimlet_seq" },
    "validate",
    "sensor",
    "sprot",
    "packrat",
    "user_leds",
]
features = ["gimlet", "usart1-gimletlet", "vlan", "baud_rate_3M"]
notifications = ["usart-irq", "socket", "timer"]
interrupts = {"usart1.irq" = "usart-irq"}

[tasks.sensor]
name = "task-sensor"
priority = 5
max-sizes = {flash = 16384, ram = 2048 }
stacksize = 1024
start = true

[tasks.dump_agent]
name = "task-dump-agent"
priority = 6
max-sizes = {flash = 32768, ram = 16384 }
start = true
task-slots = ["sprot", "jefe", "net"]
stacksize = 2400
extern-regions = ["sram1", "sram2", "sram3", "sram4"]
notifications = ["socket"]
features = ["net", "vlan"]

[tasks.gimlet_seq]
name = "drv-mock-gimlet-seq-server"
priority = 2
max-sizes = {flash = 2048, ram = 2048 }
start = true
task-slots = ["jefe"]

[tasks.host_sp_comms]
name = "task-host-sp-comms"
features = ["gimlet", "stm32h753", "uart7", "baud_rate_3M", "hardware_flow_control", "vlan"]
uses = ["uart7", "dbgmcu"]
interrupts = {"uart7.irq" = "usart-irq"}
priority = 8
max-sizes = {flash = 65536, ram = 65536}
stacksize = 4096
start = true
task-slots = ["sys", { cpu_seq = "gimlet_seq" }, "hf", "control_plane_agent", "net", "packrat", "sprot"]
notifications = [
    "jefe-state-change",
     "usart-irq",
     "multitimer",
     "control-plane-agent"
]

[tasks.hf]
name = "drv-mock-gimlet-hf-server"
features = ["h753"]
priority = 6
max-sizes = {flash = 16384, ram = 4096}
stacksize = 1920
start = true
uses = ["quadspi"]
interrupts = {"quadspi.irq" = "qspi-irq"}
task-slots = ["sys", "hash_driver"]
notifications = ["qspi-irq"]

[tasks.hash_driver]
name = "drv-stm32h7-hash-server"
features = ["h753"]
priority = 2
max-sizes = {flash = 16384, ram=4096 }
stacksize = 2048
start = true
uses = ["hash"]
interrupts = {"hash.irq" = "hash-irq"}
task-slots = ["sys"]
notifications = ["hash-irq"]

[tasks.net]
name = "task-net"
stacksize = 8000
priority = 3
features = ["h753", "vlan", "gimletlet-nic", "use-spi-core", "spi4"]
max-sizes = {flash = 131072, ram = 65536, sram1_mac = 16384}
sections = {eth_bulk = "sram1_mac"}
uses = ["eth", "tim16", "spi4"]
start = true
task-slots = ["sys", "jefe"]
notifications = ["eth-irq", "mdio-timer-irq", "spi-irq", "wake-timer"]

[tasks.net.interrupts]
"eth.irq" = "eth-irq"
"tim16.irq" = "mdio-timer-irq"
"spi4.irq" = "spi-irq"

[tasks.udprpc]
name = "task-udprpc"
priority = 6
max-sizes = {flash = 32768, ram = 8192}
stacksize = 4096
start = true
task-slots = ["net"]
features = ["vlan"]
notifications = ["socket"]

[tasks.udpecho]
name = "task-udpecho"
priority = 4
max-sizes = {flash = 16384, ram = 8192}
stacksize = 4096
start = true
task-slots = ["net"]
features = ["vlan"]
notifications = ["socket"]

[tasks.udpbroadcast]
name = "task-udpbroadcast"
priority = 6
max-sizes = {flash = 16384, ram = 8192}
stacksize = 4096
start = true
task-slots = ["net", "packrat"]
features = ["vlan"]
notifications = ["socket"]

[tasks.snitch]
name = "task-snitch"
# The snitch should have a priority immediately below that of the net task,
# to minimize the number of components that can starve it from resources.
priority = 4
stacksize = 1200
start = true
task-slots = ["net", "packrat"]
features = ["vlan"]
notifications = ["socket"]

[tasks.rng_driver]
features = ["h753", "ereport"]
task-slots = ["sys", "user_leds", "packrat"]

# VLAN configuration
[config.net.vlans.sidecar1]
vid = 0x301
trusted = true
port = 1

[config.net.vlans.sidecar2]
vid = 0x302
trusted = true
port = 2

# UDP ports in sockets below are assigned in oxidecomputer/oana

[config.net.sockets.broadcast]
kind = "udp"
owner = {name = "udpbroadcast", notification = "socket"}
port = 997
tx = { packets = 3, bytes = 1024 }
rx = { packets = 3, bytes = 1024 }

[config.net.sockets.echo]
kind = "udp"
owner = {name = "udpecho", notification = "socket"}
port = 7
tx = { packets = 3, bytes = 1024 }
rx = { packets = 3, bytes = 1024 }

[config.net.sockets.rpc]
kind = "udp"
owner = {name = "udprpc", notification = "socket"}
port = 998
tx = { packets = 3, bytes = 1024 }
rx = { packets = 3, bytes = 1024 }

[config.net.sockets.control_plane_agent]
kind = "udp"
owner = {name = "control_plane_agent", notification = "socket"}
port = 11111
tx = { packets = 3, bytes = 2048 }
rx = { packets = 3, bytes = 2048 }

[config.net.sockets.dump_agent]
kind = "udp"
owner = {name = "dump_agent", notification = "socket"}
port = 11113
tx = { packets = 3, bytes = 1024 }
rx = { packets = 3, bytes = 1024 }

[config.net.sockets.ereport]
kind = "udp"
owner = {name = "snitch", notification = "socket"}
port = 57005
tx = { packets = 3, bytes = 1024 }
# v0 ereport requests are always 35B, so just make the buffer exactly
# that size...
rx = { packets = 3, bytes = 35 }

[tasks.sprot]
name = "drv-stm32h7-sprot-server"
priority = 5
max-sizes = {flash = 65536, ram = 32768}
stacksize = 16384
start = true
task-slots = ["sys"]
features = ["sink_test", "use-spi-core", "h753", "spi3"]
uses = ["spi3"]
notifications = ["spi-irq", "rot-irq", "timer"]
interrupts = {"spi3.irq" = "spi-irq"}

#
# This device definition is only provided as a way to test this driver absent
# a larger board that has it; unless your Gimletlet is in a basement known
# to be roamed by a certain board-killing cat, it's unlikely to have this
# device attached!  (But other than the `power` task reporting it as being
# absent, there should be no harm to it being missing.)
#
[[config.i2c.devices]]
device = "lm5066"
controller = 4
address = 0x16
description = "LM5066 evaluation board"
power = { rails = [ "LM5066_EVL_VOUT" ] }
sensors = { voltage = 1, current = 1, temperature = 1 }
refdes = "LOL"

[tasks.power]
name = "task-power"
priority = 6
max-sizes = {flash = 65536, ram = 16384 }
stacksize = 3800
start = true
task-slots = ["i2c_driver", "sensor"]
notifications = ["timer"]
