[package]
name = "drv-rng-api"
version = "0.1.0"
edition = "2021"

[dependencies]
getrandom = { workspace = true, optional = true }
idol-runtime.workspace = true
num.workspace = true
num-traits.workspace = true
rand_core.workspace = true
zerocopy.workspace = true
zerocopy-derive.workspace = true

abi = {  path = "../../sys/abi"  }
counters = { path = "../../lib/counters" }
userlib = {  path = "../../sys/userlib", features = ["panic-messages"]  }
derive-idol-err = { path = "../../lib/derive-idol-err" }

[features]

custom-getrandom = ["getrandom/custom"]

[build-dependencies]
idol.workspace = true

[lib]
name = "drv_rng_api"
test = false
doctest = false
bench = false

[lints]
workspace = true
