[package]
name = "task-control-plane-agent"
version = "0.1.0"
edition = "2021"

[dependencies]
cfg-if = { workspace = true }
gateway-messages = { workspace = true }
heapless = { workspace = true }
idol-runtime = { workspace = true }
num-traits = { workspace = true }
serde = { workspace = true }
ssmarshal = { workspace = true }
static_assertions = { workspace = true }
zerocopy = { workspace = true }

drv-auxflash-api = { path = "../../drv/auxflash-api", optional = true }
drv-gimlet-hf-api = { path = "../../drv/gimlet-hf-api", optional = true }
drv-gimlet-seq-api = { path = "../../drv/gimlet-seq-api", optional = true }
drv-ignition-api = { path = "../../drv/ignition-api", optional = true }
drv-local-vpd = { path = "../../drv/local-vpd", optional = true }
drv-monorail-api = { path = "../../drv/monorail-api", optional = true }
drv-sidecar-seq-api = { path = "../../drv/sidecar-seq-api", optional = true }
drv-sprot-api = { path = "../../drv/sprot-api" }
drv-stm32h7-usart = { path = "../../drv/stm32h7-usart", features = ["h753"], optional = true }
drv-update-api = { path = "../../drv/update-api" }
host-sp-messages = { path = "../../lib/host-sp-messages" }
mutable-statics = { path = "../../lib/mutable-statics" }
notifications = { path = "../../lib/notifications" }
ringbuf = { path = "../../lib/ringbuf" }
task-control-plane-agent-api = { path = "../control-plane-agent-api" }
task-jefe-api = { path = "../jefe-api" }
task-net-api = { path = "../net-api", features = ["use-smoltcp"] }
task-sensor-api = { path = "../sensor-api" }
task-validate-api = { path = "../validate-api" }
update-buffer = { path = "../../lib/update-buffer" }
userlib = { path = "../../sys/userlib", features = ["panic-messages"] }

[build-dependencies]
idol = { workspace = true }

[features]
gimlet = ["drv-gimlet-hf-api", "drv-gimlet-seq-api", "drv-stm32h7-usart"]
sidecar = ["drv-sidecar-seq-api", "drv-monorail-api", "drv-ignition-api"]
psc = []

vlan = ["task-net-api/vlan"]

usart1 = []
usart1-gimletlet = []
baud_rate_3M = []
auxflash = ["drv-auxflash-api"]
vpd-identity = ["drv-local-vpd"]
