app-name "gimlet-rot"
target "thumbv8m.main-none-eabihf"
board "gimlet-rot-1"
chip "../../chips/lpc55"
stack-size 1024
kernel {
    crate-name "gimlet-rot"
    requires flash=32768 ram=3072
    features "itm"
}
signing {
    combined {
        method "rsa"
        priv-key "../../support/fake_certs/fake_private_key.pem"
        root-cert "../../support/fake_certs/fake_certificate.der.crt"
    }
}
output "flash" {
    address 0x0
    size 0x9d800
    read
    execute
}
output "ram" {
    address 0x20000000
    size 0x1c000
    read
    write
    execute
}

task "jefe" {
    crate-name "task-jefe"
    priority 0
    max-sizes flash=8192 ram=2048
    start
    features "itm"
    stack-size 1536
}

task "hiffy" {
    crate-name "task-hiffy"
    priority 5
    features "lpc55" "gpio" "spctrl"
    max-sizes flash=32768 ram=16384
    stack-size 2048
    start
    task-slots "gpio_driver" "swd"
}

task "idle" {
    crate-name "task-idle"
    priority 6
    max-sizes flash=128 ram=256
    stack-size 256
    start
}

task "syscon_driver" {
    crate-name "drv-lpc55-syscon"
    priority 2
    max-sizes flash=8192 ram=2048
    uses "syscon" "anactrl" "pmc"
    start
}

task "gpio_driver" {
    crate-name "drv-lpc55-gpio"
    priority 3
    max-sizes flash=8192 ram=2048
    uses "gpio" "iocon"
    start
    task-slots "syscon_driver"
}

task "usart_driver" {
    crate-name "drv-lpc55-usart"
    priority 4
    max-sizes flash=8192 ram=2048
    uses "iocon" "flexcomm0"
    start
    notify {
        irq "flexcomm0.irq" mask=0b1
    }
    task-slots "gpio_driver" "syscon_driver"
    config {
        pins {
            - {
                pin {
                    port 0
                    pin 29
                }
                alt 1
            }
            - {
                pin {
                    port 0
                    pin 30
                }
                alt 1
            }
        }
    }
}

task "spi0_driver" {
    crate-name "drv-lpc55-spi-server"
    priority 4
    max-sizes flash=16384 ram=2048
    uses "iocon" "flexcomm3" "flexcomm8"
    features "spi0"
    start
    notify {
        irq "flexcomm8.hs_spi" mask=0b1
    }
    stack-size 1000
    task-slots "gpio_driver" "syscon_driver"
    config {
        pins {
            - {
                pin {
                    port 0
                    pin 26
                }
                alt 9
            }
            - {
                pin {
                    port 1
                    pin 3
                }
                alt 6
            }
            - {
                pin {
                    port 1
                    pin 2
                }
                alt 6
            }
            - {
                pin {
                    port 1
                    pin 1
                }
                alt 5
            }
        }
    }
}

task "swd" {
    crate-name "drv-lpc55-swd"
    priority 4
    max-sizes flash=16384 ram=4096
    uses "flexcomm5"
    stack-size 1000
    task-slots "gpio_driver" "syscon_driver"
    notify {
        irq "flexcomm5.irq" mask=0b1
    }
    config {
        out_cfg {
            - {
                pin {
                    port 0
                    pin 8
                }
                alt 3
            }
            - {
                pin {
                    port 0
                    pin 9
                }
                alt 0
                mode "PullDown"
            }
        }
        in_cfg {
            - {
                pin {
                    port 0
                    pin 9
                }
                alt 3
            }
            - {
                pin {
                    port 0
                    pin 8
                }
                alt 0
                mode "PullDown"
            }
        }
        pins {
            - {
                pin {
                    port 0
                    pin 7
                }
                alt 3
            }
        }
        spi_num 5
    }
}

