[package]
name = "dump-agent-api"
version = "0.1.0"
edition = "2021"

[dependencies]
counters = { path = "../../lib/counters" }
derive-idol-err = { path = "../../lib/derive-idol-err"  }
userlib = { path = "../../sys/userlib" }
dumper-api = { path = "../dumper-api" }

idol-runtime.workspace = true
num-traits.workspace = true
zerocopy.workspace = true
zerocopy-derive.workspace = true
hubpack.workspace = true
humpty.workspace = true
serde.workspace = true

# This section is here to discourage RLS/rust-analyzer from doing test builds,
# since test builds don't work for cross compilation.
[lib]
test = false
doctest = false
bench = false

[build-dependencies]
idol.workspace = true

[lints]
workspace = true
