name = "demo-stm32g070-nucleo"
target = "thumbv6m-none-eabi"
chip = "../../chips/stm32g0"
memory = "memory-g070.toml"
board = "stm32g070"
stacksize = 944

[kernel]
name = "demo-stm32g0-nucleo"
requires = {flash = 18048, ram = 1632}
features = ["g070"]
stacksize = 640

[tasks.jefe]
name = "task-jefe"
priority = 0
max-sizes = {flash = 4096, ram = 512}
start = true
features = ["log-null"]
stacksize = 352

[tasks.sys]
name = "drv-stm32xx-sys"
features = ["g070"]
priority = 1
max-sizes = {flash = 2048, ram = 256}
uses = ["rcc", "gpio", "system_flash"]
start = true
stacksize = 256
task-slots = ["jefe"]

[tasks.usart_driver]
name = "drv-stm32g0-usart"
features = ["g070"]
priority = 2
max-sizes = {flash = 4096, ram = 256}
uses = ["usart1"]
start = true
interrupts = {"usart1.irq" = 1}
task-slots = ["sys"]
stacksize = 256

[tasks.user_leds]
name = "drv-user-leds"
features = ["stm32g0"]
priority = 2
max-sizes = {flash = 2048, ram = 256}
start = true
task-slots = ["sys"]
stacksize = 256

[tasks.pong]
name = "task-pong"
priority = 3
max-sizes = {flash = 1024, ram = 256}
start = true
task-slots = ["user_leds"]
stacksize = 256

[tasks.ping]
name = "task-ping"
features = ["uart"]
priority = 4
max-sizes = {flash = 8192, ram = 512}
stacksize = 256
start = true
task-slots = [{peer = "pong"}, "usart_driver"]

[tasks.hiffy]
name = "task-hiffy"
priority = 3
max-sizes = {flash = 8192, ram = 8192 }
start = true

[tasks.idle]
name = "task-idle"
priority = 5
max-sizes = {flash = 128, ram = 64}
stacksize = 64
start = true
