app-name "demo-stm32g031-nucleo"
target "thumbv6m-none-eabi"
chip "../../chips/stm32g0"
board "stm32g031"
kernel {
    crate-name "demo-stm32g0-nucleo"
    requires flash=11702 ram=1536
    features "g031" "panic-halt"
    stacksize 640
}
output "flash" {
    address 0x8000000
    size 0x10000
    read
    execute
}
output "ram" {
    address 0x20000000
    size 0x2000
    read
    write
}

task "jefe" {
    crate-name "task-jefe"
    priority 0
    max-sizes flash=4096 ram=512
    start
    features "log-null"
    stack-size 368
}

task "sys" {
    crate-name "drv-stm32xx-sys"
    priority 1
    max-sizes flash=2048 ram=256
    uses "rcc" "gpio"
    start
    features "g031"
    stack-size 256
}

task "pong" {
    crate-name "task-pong"
    priority 4
    max-sizes flash=1024 ram=256
    start
    task-slots "user_leds"
    stack-size 256
}

task "user_leds" {
    crate-name "drv-user-leds"
    features "stm32g0"
    priority 3
    max-sizes flash=2048 ram=256
    start
    task-slots "sys"
    stack-size 256
}

task "hiffy" {
    crate-name "task-hiffy"
    priority 4
    max-sizes flash=8192 ram=2048
    start
    task-slots "sys"
    stack-size 912
    features "stm32g0" "gpio" "micro"
}

task "idle" {
    crate-name "task-idle"
    priority 5
    max-sizes flash=128 ram=64
    stack-size 64
    start
}

