[package]
name = "drv-psc-seq-server"
version = "0.1.0"
edition = "2021"

[dependencies]
drv-packrat-vpd-loader.path = "../packrat-vpd-loader"
drv-psc-seq-api.path = "../psc-seq-api"
drv-stm32xx-sys-api = { path = "../../drv/stm32xx-sys-api", features = ["family-stm32h7"] }
drv-i2c-api = { path ="../../drv/i2c-api", features = ["component-id"] }
drv-i2c-devices.path = "../../drv/i2c-devices"
task-jefe-api.path = "../../task/jefe-api"
task-packrat-api.path = "../../task/packrat-api"
userlib = { path = "../../sys/userlib", features = ["panic-messages"] }
ringbuf = { path = "../../lib/ringbuf", features = ["counters"] }
counters = { path = "../../lib/counters" }
static-cell = { path = "../../lib/static-cell" }
serde.workspace = true
minicbor.workspace = true
minicbor-serde.workspace = true

[build-dependencies]
idol.workspace = true
build-util = { path = "../../build/util" }
build-i2c = { path = "../../build/i2c" }

# This section is here to discourage RLS/rust-analyzer from doing test builds,
# since test builds don't work for cross compilation.
[[bin]]
name = "drv-psc-seq-server"
test = false
doctest = false
bench = false

[lints]
workspace = true
