[package]
edition = "2021"
readme = "README.md"
name = "oxide-rot-1"
version = "0.1.0"

[features]
dump = ["kern/dump"]
dice-mfg= ["lpc55-rot-startup/dice-mfg"]
dice-self = ["lpc55-rot-startup/dice-self"]

[dependencies]
cortex-m = { workspace = true }
cortex-m-rt = { workspace = true }
lpc55-pac = { workspace = true, features = ["rt"]}
cfg-if = { workspace = true }

abi = { path = "../../sys/abi"}
kern = { path = "../../sys/kern" }
lpc55-rot-startup = { path = "../../lib/lpc55-rot-startup" }
unwrap-lite = { path = "../../lib/unwrap-lite" }

# this lets you use `cargo fix`!
[[bin]]
name = "oxide-rot-1"
test = false
bench = false
