[package]
name = "task-power-api"
version = "0.1.0"
edition = "2021"

[features]


[dependencies]
hubpack.workspace = true
num-traits.workspace = true
pmbus.workspace = true
serde.workspace = true
serde-big-array.workspace = true
static_assertions.workspace = true
zerocopy.workspace = true
zerocopy-derive.workspace = true

counters = { path = "../../lib/counters" }
drv-i2c-api.path = "../../drv/i2c-api"
task-sensor-api.path = "../sensor-api"
userlib.path = "../../sys/userlib"

[build-dependencies]
idol.workspace = true

[lib]
test = false
doctest = false
bench = false

[lints]
workspace = true
