[package]
name = "drv-update-api"
version = "0.1.0"
edition = "2021"

[dependencies]
derive_more.workspace = true
hubpack.workspace = true
idol-runtime.workspace = true
num-traits.workspace = true
serde.workspace = true
zerocopy.workspace = true
zerocopy-derive.workspace = true
gateway-messages.workspace = true

counters = { path = "../../lib/counters" }
derive-idol-err.path = "../../lib/derive-idol-err"
ringbuf.path = "../../lib/ringbuf"
userlib.path = "../../sys/userlib"

# This section is here to discourage RLS/rust-analyzer from doing test builds,
# since test builds don't work for cross compilation.
[lib]
test = false
doctest = false
bench = false

[lints]
workspace = true
