name = "demo-stm32h743-nucleo"
target = "thumbv7em-none-eabihf"
board = "nucleo-h743zi2"
chip = "../../chips/stm32h7"
memory = "memory-large.toml"
stacksize = 896

[kernel]
name = "demo-stm32h7-nucleo"
requires = {flash = 24736, ram = 5120}
features = ["h743", "dump"]

[tasks.jefe]
name = "task-jefe"
priority = 0
max-sizes = {flash = 16384, ram = 4096}
start = true
features = ["dump"]
stacksize = 2000
notifications = ["fault", "timer"]
extern-regions = [ "sram1", "sram2", "sram3", "sram4" ]

[tasks.jefe.config.allowed-callers]
set_reset_reason = ["sys"]
request_reset = ["hiffy"]

[tasks.sys]
name = "drv-stm32xx-sys"
features = ["h743", "exti", "no-panic"]
priority = 1
uses = ["rcc", "gpios", "system_flash", "syscfg", "exti"]
start = true
task-slots = ["jefe"]
notifications = ["exti-wildcard-irq"]

[tasks.sys.interrupts]
"exti.exti0" = "exti-wildcard-irq"
"exti.exti1" = "exti-wildcard-irq"
"exti.exti2" = "exti-wildcard-irq"
"exti.exti3" = "exti-wildcard-irq"
"exti.exti4" = "exti-wildcard-irq"
"exti.exti9_5" = "exti-wildcard-irq"
"exti.exti15_10" = "exti-wildcard-irq"

[tasks.sys.config.gpio-irqs.button]
port = "C"
pin = 13
owner = {name = "user_button", notification = "button"}

[tasks.i2c_driver]
name = "drv-stm32xx-i2c-server"
stacksize = 1048
features = ["h743"]
priority = 2
uses = ["i2c1", "i2c2", "i2c3", "i2c4"]
start = true
task-slots = ["sys"]
notifications = ["i2c1-irq", "i2c2-irq", "i2c3-irq", "i2c4-irq"]

[tasks.i2c_driver.interrupts]
"i2c1.event" = "i2c1-irq"
"i2c1.error" = "i2c1-irq"
"i2c2.event" = "i2c2-irq"
"i2c2.error" = "i2c2-irq"
"i2c3.event" = "i2c3-irq"
"i2c3.error" = "i2c3-irq"
"i2c4.event" = "i2c4-irq"
"i2c4.error" = "i2c4-irq"

[tasks.spi_driver]
name = "drv-stm32h7-spi-server"
priority = 2
max-sizes = {flash = 16384, ram = 4096}
features = ["spi1", "h743"]
uses = ["spi1"]
start = true
notifications = ["spi-irq"]
interrupts = {"spi1.irq" = "spi-irq"}
stacksize = 880
task-slots = ["sys"]

[tasks.net]
name = "task-net"
stacksize = 4000
priority = 2
max-sizes = {flash = 65536, ram = 8192, sram1_mac = 32768}
features = ["h743"]
sections = {eth_bulk = "sram1_mac"}
uses = ["eth", "tim16"]
start = true
notifications = ["eth-irq", "mdio-timer-irq", "wake-timer"]
interrupts = {"eth.irq" = "eth-irq", "tim16.irq" = "mdio-timer-irq"}
task-slots = ["sys", "jefe"]

[tasks.user_leds]
name = "drv-user-leds"
features = ["stm32h7"]
priority = 2
max-sizes = {flash = 2048, ram = 1024}
start = true
task-slots = ["sys"]
notifications = ["timer"]
config = { blink_at_start = [ "Led::Zero" ] }

[tasks.user_button]
name = "task-nucleo-user-button"
priority = 3
start = true
task-slots = ["sys", "user_leds"]
notifications = ["button"]
config = { led = 1, edge = "Edge::Rising" }

[tasks.udpecho]
name = "task-udpecho"
priority = 3
max-sizes = {flash = 16384, ram = 8192}
stacksize = 4096
start = true
task-slots = ["net"]
notifications = ["socket"]

[tasks.hiffy]
name = "task-hiffy"
features = ["h743", "stm32h7", "i2c", "gpio", "spi", "turbo"]
priority = 4
max-sizes = {flash = 32768, ram = 65536 }
stacksize = 2048
start = true
task-slots = ["sys", "i2c_driver"]

[tasks.idle]
name = "task-idle"
priority = 6
max-sizes = {flash = 128, ram = 256}
stacksize = 256
start = true

[tasks.rng_driver]
features = ["h743"]
priority = 3
name = "drv-stm32h7-rng"
stacksize = 512
start = true
task-slots = ["sys", "user_leds"]
uses = ["rng"]

[tasks.dump_agent]
name = "task-dump-agent"
features = ["no-rot"]
priority = 4
max-sizes = {flash = 32768, ram = 2048 }
start = true
task-slots = ["jefe"]
stacksize = 1200
extern-regions = [ "sram1", "sram2", "sram3", "sram4" ]

[config]

[[config.i2c.controllers]]
controller = 2

[config.i2c.controllers.ports.F]
scl.pin = 1
sda.pin = 0
af = 4

#
# To use the Nucleo board as an SPD initiator, uncomment the following:
#
# [[config.i2c.controllers.ports.F.muxes]]
# driver = "ltc4306"
# address = 0b1001_010

[config.spi.spi1]
controller = 1
fifo_depth = 16

[config.spi.spi1.mux_options.cn7_arduino]
outputs = [
    {port = "A", pins = [5], af = 5}, # sck
    {port = "B", pins = [5], af = 5}, # mosi
]
input = {port = "A", pin = 6, af = 5} # miso

[config.spi.spi1.devices.pins]
mux = "cn7_arduino"
cs = [{port = "D", pin = 14}]
clock_divider = "DIV16"


[config.net]
# UDP ports in sockets below are assigned in oxidecomputer/oana

[config.net.sockets.echo]
kind = "udp"
owner = {name = "udpecho", notification = "socket"}
port = 7
tx = { packets = 3, bytes = 1024 }
rx = { packets = 3, bytes = 1024 }
