[package]
name = "drv-ignition-api"
version = "0.1.0"
edition = "2021"

[features]


[dependencies]
bitfield = { workspace = true }
cfg-if = { workspace = true }
derive_more = { workspace = true }
idol-runtime = { workspace = true }
num-derive = { workspace = true }
num-traits = { workspace = true }
serde = { workspace = true }
static_assertions = { workspace = true }
zerocopy = { workspace = true }
zerocopy-derive = { workspace = true }

counters = { path = "../../lib/counters" }
derive-idol-err = { path = "../../lib/derive-idol-err" }
drv-fpga-api = { path = "../fpga-api" }
userlib = { path = "../../sys/userlib" }

[build-dependencies]
build-fpga-regmap = { path = "../../build/fpga-regmap" }
build-util = { path = "../../build/util" }
idol = { workspace = true }

[lib]
test = false
doctest = false
bench = false

[lints]
workspace = true
