[package]
name = "drv-lpc55-syscon"
version = "0.1.0"
edition = "2018"

[dependencies]
userlib = {path = "../../sys/userlib", features = ["panic-messages"]}
zerocopy = "0.6.1"
lpc55-pac = "0.4"
cortex-m = {version = "0.7", features = ["inline-asm"]}
num-traits = { version = "0.2.12", default-features = false }
idol-runtime = {git = "https://github.com/oxidecomputer/idolatry.git"}
drv-lpc55-syscon-api = {path = "../lpc55-syscon-api"}
task-jefe-api = {path = "../../task/jefe-api"}

[build-dependencies]
idol = {git = "https://github.com/oxidecomputer/idolatry.git"}


# This section is here to discourage RLS/rust-analyzer from doing test builds,
# since test builds don't work for cross compilation.
[[bin]]
name = "drv-lpc55-syscon"
test = false
bench = false
