[package]
name = "drv-sbrmi-api"
version = "0.1.0"
edition = "2021"

[dependencies]
derive-idol-err = { path = "../../lib/derive-idol-err"  }
userlib = { path = "../../sys/userlib" }

num-traits = { workspace = true }
zerocopy = { workspace = true }

# This section is here to discourage RLS/rust-analyzer from doing test builds,
# since test builds don't work for cross compilation.
[lib]
test = false
bench = false

[build-dependencies]
idol = { workspace = true }
