[package]
name = "task-pong"
version = "0.1.0"
edition = "2021"

[features]
panic-messages = ["userlib/panic-messages"]
no-ipc-counters = ["idol/no-counters"]

[dependencies]
cortex-m = { workspace = true }

drv-user-leds-api = { path = "../../drv/user-leds-api" }
userlib = { path = "../../sys/userlib" }

[build-dependencies]
build-util = { path = "../../build/util" }
idol.workspace = true

[[bin]]
name = "task-pong"
test = false
doctest = false
bench = false

[lints]
workspace = true
