[package]
name = "task-pong"
version = "0.1.0"
edition = "2021"

[features]
panic-messages = ["userlib/panic-messages"]

[dependencies]
cortex-m = { workspace = true }

drv-user-leds-api = { path = "../../drv/user-leds-api" }
notifications = { path = "../../lib/notifications", features = ["pong"] }
userlib = { path = "../../sys/userlib" }

[[bin]]
name = "task-pong"
test = false
bench = false
