[package]
name = "drv-lpc55-gpio"
version = "0.1.0"
authors = ["Laura Abbott <laura@oxide.computer>"]
edition = "2018"

[dependencies]
userlib = {path = "../../sys/userlib"}
lpc55-pac = "0.3.0"
cortex-m-semihosting = "0.3.5"
num-traits = { version = "0.2.12", default-features = false }
drv-lpc55-gpio-api = {path = "../lpc55-gpio-api"}
drv-lpc55-syscon-api = {path = "../lpc55-syscon-api"}
lpc55-iocon-gen = {path = "../lpc55-iocon-gen"}

[features]
default = ["standalone"]
standalone = []

# a target for `cargo xtask check`
[package.metadata.build]
target = "thumbv8m.main-none-eabihf"

# This section is here to discourage RLS/rust-analyzer from doing test builds,
# since test builds don't work for cross compilation.
[[bin]]
name = "drv-lpc55-gpio"
test = false
bench = false
