[package]
name = "drv-local-vpd"
version = "0.1.0"
edition = "2021"

[dependencies]
zerocopy = { workspace = true }
zerocopy-derive = { workspace = true }

drv-oxide-vpd = { path = "../oxide-vpd" }
drv-i2c-devices = { path = "../../drv/i2c-devices" }
drv-i2c-api = { path = "../../drv/i2c-api" }
userlib = { path = "../../sys/userlib" }

[build-dependencies]
build-i2c = {path = "../../build/i2c" }
idol = { workspace = true }

[features]
no-ipc-counters = ["idol/no-counters"]

[lib]
test = false
doctest = false
bench = false

[lints]
workspace = true
