[package]
name = "drv-stm32fx-rcc"
version = "0.1.0"
authors = ["Cliff L. Biffle <cliff@oxide.computer>"]
edition = "2018"

[dependencies]
userlib = {path = "../../userlib"}
stm32f3 = { version = "0.13.0", optional = true, default-features = false }
stm32f4 = { version = "0.13.0", optional = true, default-features = false }
zerocopy = "0.3.0"
num-traits = { version = "0.2.12", default-features = false }

[features]
default = ["standalone"]
standalone = ["f4"]
f3 = ["stm32f3/stm32f303"]
f4 = ["stm32f4/stm32f407"]

# a target for `cargo xtask check`
[package.metadata.build]
target = "thumbv7em-none-eabihf"

# This section is here to discourage RLS/rust-analyzer from doing test builds,
# since test builds don't work for cross compilation.
[[bin]]
name = "drv-stm32fx-rcc"
test = false
bench = false
