[package]
name = "drv-stm32fx-rcc"
version = "0.1.0"
edition = "2021"

[dependencies]
num-traits = { workspace = true }
stm32f3 = { workspace = true, optional = true }
stm32f4 = { workspace = true, optional = true }
zerocopy = { workspace = true }
zerocopy-derive = { workspace = true }

userlib = { path = "../../sys/userlib", features = ["panic-messages"] }

[features]
f3 = ["stm32f3/stm32f303"]
f407 = ["stm32f4/stm32f407"]
f429 = ["stm32f4/stm32f429"]

# This section is here to discourage RLS/rust-analyzer from doing test builds,
# since test builds don't work for cross compilation.
[[bin]]
name = "drv-stm32fx-rcc"
test = false
doctest = false
bench = false

[lints]
workspace = true
