[package]
name = "drv-stm32h7-update-api"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html


[dependencies]
hubpack.workspace = true
idol-runtime.workspace = true
num-traits.workspace = true
serde.workspace = true
zerocopy.workspace = true
zerocopy-derive.workspace = true
counters = { path = "../../lib/counters" }
drv-caboose.path = "../caboose"
drv-update-api.path = "../update-api"
stage0-handoff = { path = "../../lib/stage0-handoff"}
userlib.path = "../../sys/userlib/"

[build-dependencies]
idol.workspace = true

[lib]
test = false
doctest = false
bench = false

[lints]
workspace = true
