[package]
name = "drv-i2c-api"
version = "0.1.0"
edition = "2021"

[dependencies]
zerocopy.workspace = true

drv-i2c-types.path = "../i2c-types"
userlib.path = "../../sys/userlib"

# This section is here to discourage RLS/rust-analyzer from doing test builds,
# since test builds don't work for cross compilation.
[lib]
test = false
bench = false
