[package]
name = "drv-gimlet-hf-api"
version = "0.1.0"
edition = "2021"

[dependencies]
hubpack.workspace = true
idol-runtime.workspace = true
num-traits.workspace = true
serde.workspace = true
zerocopy.workspace = true

derive-idol-err = { path = "../../lib/derive-idol-err"  }
drv-hash-api = { path = "../hash-api" }
drv-qspi-api = { path = "../qspi-api" }
userlib = { path = "../../sys/userlib" }

[build-dependencies]
idol.workspace = true

[lib]
test = false
doctest = false
bench = false
