[package]
name = "drv-mock-gimlet-seq-server"
version = "0.1.0"
edition = "2021"

[dependencies]
idol-runtime = { workspace = true }
num-traits = { workspace = true }
zerocopy = { workspace = true }

drv-gimlet-seq-api = { path = "../gimlet-seq-api" }
drv-gimlet-state = { path = "../gimlet-state" }
task-jefe-api = { path = "../../task/jefe-api" }
userlib = { path = "../../sys/userlib" }

[build-dependencies]
idol = { workspace = true, features = ["client-counters"] }

[[bin]]
name = "drv-mock-gimlet-seq-server"
test = false
doctest = false
bench = false
