[package]
name = "drv-mock-gimlet-seq-server"
version = "0.1.0"
edition = "2021"

[dependencies]
userlib = {path = "../../sys/userlib"}
zerocopy = "0.6.1"
num-traits = { version = "0.2.12", default-features = false }
drv-gimlet-seq-api = {path = "../gimlet-seq-api"}
idol-runtime = {git = "https://github.com/oxidecomputer/idolatry.git"}

[build-dependencies]
idol = {git = "https://github.com/oxidecomputer/idolatry.git"}
