[package]
name = "drv-mock-gimlet-seq-server"
version = "0.1.0"
edition = "2021"

[dependencies]
idol-runtime = { workspace = true }
num-traits = { workspace = true }
zerocopy = { workspace = true }
zerocopy-derive = { workspace = true }

drv-cpu-seq-api = { path = "../cpu-seq-api" }
drv-cpu-power-state = { path = "../cpu-power-state" }
task-jefe-api = { path = "../../task/jefe-api" }
userlib = { path = "../../sys/userlib" }

[build-dependencies]
idol.workspace = true

[[bin]]
name = "drv-mock-gimlet-seq-server"
test = false
doctest = false
bench = false

[lints]
workspace = true
