[package]
name = "task-thermal-api"
version = "0.1.0"
edition = "2021"

[dependencies]
hubpack.workspace = true
idol-runtime.workspace = true
num-traits.workspace = true
serde.workspace = true
zerocopy.workspace = true
zerocopy-derive.workspace = true

counters = { path = "../../lib/counters" }
derive-idol-err.path = "../../lib/derive-idol-err"
drv-i2c-api.path = "../../drv/i2c-api"
drv-i2c-devices.path = "../../drv/i2c-devices"
task-sensor-api.path = "../../task/sensor-api"
userlib.path = "../../sys/userlib"

[build-dependencies]
idol.workspace = true

# This section is here to discourage RLS/rust-analyzer from doing test builds,
# since test builds don't work for cross compilation.
[lib]
test = false
doctest = false
bench = false

[lints]
workspace = true
