[package]
name = "drv-stm32h7-spi"
version = "0.1.0"
edition = "2021"

[dependencies]
num-traits = { workspace = true }
stm32h7 = { workspace = true }
vcell = { workspace = true }
zerocopy = { workspace = true }
zerocopy-derive = { workspace = true }

ringbuf = { path = "../../lib/ringbuf" }

[features]
h743 = ["stm32h7/stm32h743"]
h753 = ["stm32h7/stm32h753"]

[lib]
test = false
doctest = false
bench = false

[lints]
workspace = true
