[package]
name = "task-packrat-api"
version = "0.1.0"
edition = "2021"

[features]
# Enable Serde support for the ereport API.
serde = ["dep:serde", "dep:minicbor", "dep:minicbor-serde"]
microcbor = ["dep:microcbor", "dep:static_assertions", "dep:minicbor"]

[dependencies]
counters = { path = "../../lib/counters" }
derive-idol-err.path = "../../lib/derive-idol-err"
host-sp-messages.path = "../../lib/host-sp-messages"
oxide-barcode.path = "../../lib/oxide-barcode"
userlib.path = "../../sys/userlib"
microcbor = { path = "../../lib/microcbor", optional = true }

gateway-ereport-messages.workspace = true
idol-runtime.workspace = true
minicbor = { workspace = true, optional = true }
minicbor-serde = { workspace = true, optional = true }
num-traits.workspace = true
serde = { workspace = true, optional = true }
zerocopy.workspace = true
zerocopy-derive.workspace = true
static_assertions = { workspace = true, optional = true }

# This section is here to discourage RLS/rust-analyzer from doing test builds,
# since test builds don't work for cross compilation.
[lib]
test = false
doctest = false
bench = false

[build-dependencies]
idol.workspace = true
anyhow.workspace = true

[lints]
workspace = true
