[package]
edition = "2021"
readme = "README.md"
name = "app-donglet"
version = "0.1.0"

[features]
g030 = ["stm32g0/stm32g030"]
g031 = ["stm32g0/stm32g031"]
dump = ["kern/dump"]

[dependencies]
cortex-m = { workspace = true }
cortex-m-rt = { workspace = true }
cfg-if = { workspace = true }
stm32g0 = { workspace = true, features = ["rt"] }

kern = { path = "../../sys/kern", default-features = false }

[build-dependencies]
build-util = {path = "../../build/util"}

# this lets you use `cargo fix`!
[[bin]]
name = "app-donglet"
test = false
bench = false
