@font-face {
    font-family: "Neue Haas Grotesk Display";
    src: url("https://oxide.computer/fonts/NeueHaasGrotDisp-Roman.woff2");
}
body {
    font-family: Neue Haas Grotesk Display, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #0b1418;
    color: #E7E7E8;
    font-size: 1.1rem;
    line-height: 1.4;
    letter-spacing: 0.03em;
    font-weight: 400;

    max-width: 1080px;
    margin: 0 auto !important;
    float: none !important;
}
.green {
    color: #48D597;
}
.yellow {
    color: #F5CF65;
}
h1 {
    font-size: 4.5rem;
    line-height: 1.05;
    letter-spacing: 0.02em;
    font-weight: 300;
}
h2 {
    font-size: 1.6rem;
    line-height: 1.3;
    letter-spacing: 0.03em;
    font-weight: 300;
}
a {
    color: #48D597;
}
