[package]
name = "drv-eeprom"
version = "0.1.0"
edition = "2021"

[dependencies]
idol-runtime = { workspace = true }
num-traits = { workspace = true }
zerocopy = { workspace = true }
zerocopy-derive = { workspace = true }

derive-idol-err = {path = "../../lib/derive-idol-err" }
drv-i2c-api = {path = "../i2c-api"}
drv-i2c-devices = { path = "../i2c-devices" }
userlib = {path = "../../sys/userlib"}

[build-dependencies]
build-i2c = {path = "../../build/i2c"}
idol = { workspace = true }

[features]
no-ipc-counters = ["idol/no-counters"]

[[bin]]
name = "drv-eeprom"
test = false
doctest = false
bench = false

[lints]
workspace = true
