[package]
name = "task-caboose-reader"
description = "tiny task to read from the caboose with Idol APIs"
version = "0.1.0"
authors = ["Matt Keeter <matt@oxide.computer>"]
edition = "2021"

[dependencies]
cfg-if.workspace = true
idol-runtime.workspace = true
num-traits.workspace = true
zerocopy.workspace = true
zerocopy-derive.workspace = true

drv-caboose.path = "../../drv/caboose"
drv-caboose-pos.path = "../../drv/caboose-pos"
userlib = { path = "../../sys/userlib", features = ["panic-messages"] }

[build-dependencies]
build-util = { path = "../../build/util" }
idol = { workspace = true }

[[bin]]
name = "task-caboose-reader"
test = false
doctest = false
bench = false

[lints]
workspace = true
