name: build
on: [push, pull_request]

jobs:
  build:
    name: dist
    runs-on: '${{ matrix.os }}'
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
        build: [stm32f4, lpc55, stm32h7b3, stm32h743]
        include:
          - build: stm32f4
            app_name: demo
            app_toml: demo/app.toml
            target: thumbv7em-none-eabihf
          - build: stm32h7b3
            app_name: demo-stm32h7b3
            app_toml: demo-stm32h7/app-h7b3.toml
            target: thumbv7em-none-eabihf
          - build: lpc55
            app_name: lpc55
            app_toml: lpc55/app.toml
            target: thumbv8m.main-none-eabihf
          - build: stm32h743
            app_name: demo-stm32h743
            app_toml: demo-stm32h7/app-h743.toml
            target: thumbv7em-none-eabihf

          - os: ubuntu-latest
            deps: sudo apt-get install binutils-arm-none-eabi
          - os: windows-latest
            deps: |
              If (-Not (Test-Path "$env:USERPROFILE\scoop\shims")) {
                Invoke-Expression (New-Object System.Net.WebClient).DownloadString('https://get.scoop.sh')
              }
              If (-Not (Test-Path "$env:USERPROFILE\scoop\apps\gcc-arm-none-eabi\9-2020-q2-update")) {
                Invoke-Expression "$env:USERPROFILE\scoop\shims\scoop bucket add extras"
                Invoke-Expression "$env:USERPROFILE\scoop\shims\scoop install gcc-arm-none-eabi@9-2020-q2-update"
              }
              If (-Not (Test-Path "$env:USERPROFILE\scoop\apps\openssl")) {
                Invoke-Expression "$env:USERPROFILE\scoop\shims\scoop install openssl"
              }
              echo "$HOME\scoop\apps\openssl\current\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
              echo "$HOME\scoop\apps\gcc-arm-none-eabi\current\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
              echo "X86_64_PC_WINDOWS_MSVC_OPENSSL_DIR=$HOME\scoop\apps\openssl\current" | Out-File -FilePath $env:GITHUB_ENV -Encoding utf8 -Append

    steps:
      # check out our code
      - uses: actions/checkout@v2

      # install rust toolchain
      - uses: actions-rs/toolchain@v1
        id: rust-toolchain
        with:
          # normally we would specify a toolchain here, but we have a
          # rust-toolchain file, so that gets picked up automatically.
          profile: minimal
          target: ${{ matrix.target }}
          override: true

      # cache scoop
      - name: Cache scoop
        uses: actions/cache@v2
        if: runner.os == 'Windows'
        with:
          path: ~/scoop
          key: scoop@9-2020-q2-update

      # cache the cargo registry & index
      - name: Cache cargo outputs
        uses: actions/cache@v2
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
          key: ${{ runner.os }}-cargo-${{ steps.rust-toolchain.outputs.rustc_hash }}-${{ hashFiles('**/Cargo.lock') }}

      # cache our build outputs. note that we ignore our dist directory.
      - name: Cache build outputs
        uses: actions/cache@v2
        with:
          path: |
            target
            !target/${{ matrix.app_name }}/dist
          key: ${{ runner.os }}-build-${{ matrix.build }}-${{ steps.rust-toolchain.outputs.rustc_hash }}-${{ hashFiles('**/Cargo.lock') }}

      # install dependencies
      - run: '${{ matrix.deps }}'

      # invoke our build
      - uses: actions-rs/cargo@v1
        with:
          command: xtask
          args: dist ${{ matrix.app_toml}}

      # upload the output of our build
      - name: Upload build archive
        uses: actions/upload-artifact@v1
        with:
          name: dist-${{ matrix.os }}-${{ matrix.build }}
          path: target/${{ matrix.app_name }}/dist/build-${{ matrix.app_name }}.zip
