name: dist
on:
  pull_request:
  push:
    branches: [master]

jobs:
  build:
    name: dist
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    uses: ./.github/workflows/build-boards.yml
    with:
      os: ${{ matrix.os }}
