name: release-builds
on:
  push:
    tags:
      - "oxide-rot-1*"
      - "gimlet-*"
      - "psc-*"
      - "sidecar-*"
      - "devboards-*"

jobs:
  release-rot:
    if: startsWith(github.ref, 'refs/tags/oxide-rot-1')
    uses: ./.github/workflows/release.yml
    with:
      board-set: rot

  release-sidecar:
    if: startsWith(github.ref, 'refs/tags/sidecar')
    uses: ./.github/workflows/release.yml
    with:
      board-set: sidecar

  release-gimlet:
    if: startsWith(github.ref, 'refs/tags/gimlet')
    uses: ./.github/workflows/release.yml
    with:
      board-set: gimlet

  release-psc:
    if: startsWith(github.ref, 'refs/tags/psc')
    uses: ./.github/workflows/release.yml
    with:
      board-set: psc

  release-devboards:
    if: startsWith(github.ref, 'refs/tags/devboards')
    uses: ./.github/workflows/release.yml
    with:
      board-set: devboards

  release-compute-sleds:
    if: startsWith(github.ref, 'refs/tags/compute-sleds')
    uses: ./.github/workflows/release.yml
    with:
      board-set: compute-sleds


