name: release
on:
  workflow_call:
    inputs:
      board-set:
        description: "Which set to build"
        required: true
        type: string

jobs:
  do-build:
    uses: ./.github/workflows/build-boards.yml
    with:
       os: oxide-colo-builder-hubris
       board-set: ${{ inputs.board-set }}

  release-build:
    needs: do-build
    runs-on: ubuntu-latest
    steps:
    - name: grab binary
      id: grab
      uses: actions/download-artifact@v4
      with:
        path: out
    - name: prep
      run: |
        OUT=${{ steps.grab.outputs.download-path }}
        for build in `ls $OUT`; do
           for f in `ls $OUT/$build`; do
              mv $OUT/$build/$f $OUT/$f.zip
           done
        done


    - name: cut release
      uses: softprops/action-gh-release@v1
      with:
        name: "${{ inputs.board-set }} release"
        fail_on_unmatched_files: true
        body: "These are UNVERSIONED hubris artifacts"
        files: |
          ${{ steps.grab.outputs.download-path }}/*.zip
