[package]
name = "drv-lpc55-syscon-api"
version = "0.1.0"
authors = [
  "Laura Abbott <laura@oxide.computer>",
  "Cliff L. Biffle <cliff@oxide.computer>",
]
edition = "2018"

[dependencies]
userlib = {path = "../../userlib"}
zerocopy = "0.3.0"
num-traits = { version = "0.2.12", default-features = false }

# a target for `cargo xtask check`
[package.metadata.build]
target = "thumbv8m.main-none-eabihf"

# This section is here to discourage RLS/rust-analyzer from doing test builds,
# since test builds don't work for cross compilation.
[lib]
test = false
bench = false
