[package]
name = "drv-lpc55-syscon-api"
version = "0.1.0"
edition = "2021"

[dependencies]
counters = { path = "../../lib/counters" }
userlib = { path = "../../sys/userlib" }

num-traits = { workspace = true }
zerocopy = { workspace = true }
zerocopy-derive = { workspace = true }

[build-dependencies]
build-util = { path = "../../build/util" }
idol = { workspace = true }

# This section is here to discourage RLS/rust-analyzer from doing test builds,
# since test builds don't work for cross compilation.
[lib]
test = false
doctest = false
bench = false

[lints]
workspace = true
